@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(88, 91, 121);
  transition: opacity 0.25s ease-in-out 0s;
}

html, body,
h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, button {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
} 

a {
  text-decoration: none;
}

svg {
  vertical-align: top;
  fill: hsl(207, 99%, 43%);
}

.site-container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/background.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.max-width {
  width: 100%;
  max-width: 720px;
}

.display-none {
  display: none !important; 
}


.hide-content * {
  opacity: 0;
}

.logo h1 {
  font-family: 'Yellowtail', cursive;
  color: hsl(207, 99%, 43%);
}

.card {
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
}

.card.loading {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.65) 0%, 
    rgba(255, 255, 255, 0.65) 25%, 
    rgba(230, 244, 255, 0.65) 50%, 
    rgba(255, 255, 255, 0.65) 75%, 
    rgba(255, 255, 255, 0.65) 100%); 
  background-size: 200%;
  animation: loading 0.5s ease-in-out 0s infinite forwards alternate;
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fade-in 0.25s ease-in-out 0s 1 forwards normal;
}

.fade-out {
  animation: fade-out 0.25s ease-in-out 0s 1 forwards normal;
}

@keyframes loading {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

@keyframes fade-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

.initial.card {
  padding: 2rem;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial .logo h1 {
  font-size: 5rem;
}

.initial .logo p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.initial .search-container {
  max-width: 30rem;
}

.search-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-container.error::before {
  position: absolute;
  content: '✖ Enter a valid location!';
  color: red;
  font-weight: 500;
}

.initial .search-container.error::before {
  left: 2rem;
  bottom: -1.5rem;
  font-size: 1rem;
}

.header .search-container.error::before {
  left: 1rem;
  bottom: -0.9rem;
  font-size: 0.85rem;
}

.initial .search-icon {
  height: 2rem;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  fill: rgb(88, 91, 121);
}

.initial .search-box {
  height: 3rem;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;  
}

.search-box {
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.65);
  border: 0;
  border-radius: 1rem;
  outline: 1px solid hsl(0, 0%, 85%, 0.85);
}

.search-box:hover {
  background-color: hsla(0, 0%, 100%, 0.85);
}

.search-box:focus {
  border: 0;
  outline: 0;
  box-shadow: 1px 1px 1px 1px inset rgba(0, 0, 0, 0.25);
  background-color: hsla(0, 0%, 100%, 0.85);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header .logo h1 {
  margin: 0 1rem 0 0;
  white-space: nowrap;
  color: hsl(207, 99%, 43%);
}

@media (max-width: 500px) {
  .header {
    grid-template-columns: 1fr;
  }
  
  .header .logo h1 {
    margin: 0 0 0.5rem 0;
    text-align: center;
  }
}

.header .search-container {
  max-width: 30rem;
}

.header .search-icon {
  height: 1.5rem;
}

.header .search-box {
  height: 2rem;
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}

.card h2 {
  grid-area: header;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: hsl(207, 99%, 43%);
}

.card h2 > span {
  font-size: 1.15rem;
  font-weight: 400;
}

.current-weather .content {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  grid-template-areas:
    "location location"
    "icon     temp"
    "icon     feels-like"
    "text     text";
  justify-content: center;
  gap: 0 1rem
}

.current-location {
  grid-area: location;
  font-size: 1.15rem;
}

.current-condition-icon {
  grid-area: icon;
  justify-self: end;
}

.current-temp {
  grid-area: temp;
}

.current-temp > p {
  position: relative;
  top: 0.5rem;
  width: min-content;
  color: hsl(207, 99%, 43%);
  font-size: 5rem;
  font-weight: 500;
}

.current-temp > p > span {
  position: absolute;
  bottom: 0.8rem;
  right: 0.5rem;
  color: hsl(207, 99%, 43%);
  font-size: 1.5rem;
  font-weight: 300;
}

.current-feels-like {
  grid-area: feels-like;
  position: relative;
  top: -0.5rem;
}

.current-condition-text {
  grid-area: text;
}

.conditions .content {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 0.25rem 2rem;
}

.conditions .content:first-child {
  padding: 0 0 1rem 0;
}

.conditions .content:last-child {
  padding: 1rem 0 0 0;
}

.conditions .content:only-child {
  padding: 0;
}

.conditions .content:not(:last-child) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: 
    linear-gradient(
      90deg, 
      rgba(0,0,0,0) 0%, 
      hsl(235, 16%, 60%) 20%,
      hsl(235, 16%, 60%) 50%, 
      hsl(235, 16%, 60%) 80%,
      rgba(0,0,0,0) 100%
    ) 1 0%;
}

.conditions .content > div {
  display: grid;
  gap: 0.25rem;
}

.condition-entry {
  display: grid;
  grid-template-columns: 1.75rem 2fr auto;
  white-space: nowrap;
}

.condition-entry .astro {
  grid-template-columns: 1fr auto;
}

.condition-entry > *:last-child {
  justify-self: end;
}

.condition-entry > svg {
  width: 1.25rem;
}

.astro > div {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-areas: 
    "icon entry-1"
    "icon entry-2"
    "icon entry-3";
  gap: 0.25rem;
}

.content.astro svg {
  grid-area: icon;
  width: 48px;
  justify-self: center;
  align-self: center;  
}

.forecast .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  text-align: center;
}

.forecast .content > div {
  width: 100%;
}

.forecast .content > div:not(:last-child) {
  border-right-width: 1px;
  border-right-style: solid;
  border-image: 
    linear-gradient(
      0deg, rgba(0,0,0,0) 0%, hsl(235, 16%, 60%) 50%, rgba(0,0,0,0) 100%
    ) 1 100%;
}

.forecast .content > div > p:first-child {
  font-size: 1.15rem;
}

.temp {
  color: hsl(207, 99%, 43%);
  font-weight: 500;
}

.forecast .temp {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
}

.forecast .temp > span {
  color: hsl(235, 16%, 60%);
  font-size: 2rem;
  font-weight: 400;
}

.forecast-condition-icon {
  width: 60%;
}

.forecast-precipitation {
  display: flex;
  justify-content: center;
}

.forecast-precipitation > svg {
  width: 1.25rem;
}

@media (max-width: 600px) {
  .forecast .content > div > p:first-child {
    font-size: 1rem;
  }
  
  .forecast .temp {
    font-size: 2rem;
  }
  
  .forecast .temp > span {
    font-size: 1.5rem;
  }

  .temp {
    font-size: 2rem;
  }

  .forecast-precipitation {
    transform: scale(0.9);
  }
}

.details-button {
  margin-top: 1rem;
  padding: 0.5rem 0.75rem;
  background-color: hsl(207, 99%, 43%);
  color: white;
  border: 0;
  border-radius: 0.75rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.details-button:hover {
  background-color: hsl(207, 99%, 46%);
}

.details-button:active {
  background-color: hsl(207, 99%, 49%);
}

.detail-weather h3 {
  padding: 1rem 0;
  font-size: 1.25rem;
}

.detail-weather h3,
.detail-entry:not(:last-child) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: 
  linear-gradient(
    90deg, 
    rgba(0,0,0,0) 0%, 
    hsl(235, 16%, 60%) 20%,
    hsl(235, 16%, 60%) 50%, 
    hsl(235, 16%, 60%) 80%,
    rgba(0,0,0,0) 100%
  ) 1 0%;
}

.detail-entry {
  display: grid;
  grid-template-columns: 1.2fr 1fr 2.75fr 1fr 2fr 2rem;
  align-items: center;
  gap: 0 1rem;
  cursor: pointer;
}

.detail-entry .temp {
  font-size: 1.5rem;
}

.detail-entry .temp > span {
  color: hsl(235, 16%, 60%);
  font-size: 1.15rem;
  font-weight: 400;
}

.detail-entry > div:not(:last-child) {
  display: flex;
  align-items: center;
}

.detail-entry svg {
  width: 1.25rem;
  margin-right: 0.25rem;
}

.detail-entry img {
  width: 3rem;
}

.detail-entry > .conditions {
  width: 100%;
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

.detail-entry > .daily {
  display: flex;
  padding: 0.5rem 0;
  flex-direction: column;
}

.detail-entry > .daily > p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}

.detail-entry .day-night {
  gap: 1rem;
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.day-night .content:first-child {
  display: grid;
  grid-template-columns: 2fr auto 1fr;
  grid-template-areas: 
    "day        icon  temp"
    "condition  icon  temp";
  align-items: center;
  gap: 0.25rem;
}

.day-night .content:first-child > p:first-child {
  grid-area: day;
  font-size: 1.5rem;
}

.day-night .content:first-child > p:nth-child(2) {
  grid-area: condition;
}

.day-night .content:first-child > img {
  grid-area: icon;
  font-size: 1.5rem;
}

.day-night .content:first-child > .temp {
  grid-area: temp; 
  font-size: 2rem;
}